<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>afterexpire</key>
	<string>http://macmechanic.safecart.store/mmc/renewal</string>
	<key>afterinstall</key>
	<string>http://in.getadvancedmac.com/install/mm/</string>
	<key>allowedCC</key>
	<string>us,uk,au,de,fr,jp,es,pt,fi,it,no,ru,dk,nl,se,be</string>
	<key>buynow</key>
	<string>http://macmechanic.safecart.store/mmc/price</string>
	<key>showPhone</key>
	<string>1</string>
	<key>trackscan</key>
	<string>http://www.getadvancedmac.com/mtrack/?metd=trackScans</string>
	<key>uninstall</key>
	<string>http://uin.getadvancedmac.com/uninstall/mm/</string>
	<key>urlgetip</key>
	<string>http://uin.getadvancedmac.com/getip</string>
	<key>afterbuy</key>
	<string>https://mactonicpd.safecart.store/ty/thankyou.aspx</string>
	<key>showUninstallOption</key>
	<integer>1</integer>
</dict>
</plist>
